body {
  min-width: 1200px;
  font-family: "Montserrat";
}
a {
  cursor: pointer;
}
.container {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
.main-header {
  min-height: 100vh;
  background-image: url(../img/Background/header-bg.png);
}
.paralax {
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.main-header-navigation {
  background: rgba(94, 93, 88, 0.6);
  width: 100%;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu-list {
  display: flex;
  align-items: center;
}
.header-menu-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 21px;
  transition: color 0.4s;
}
.search-icon {
  cursor: pointer;
}
.header-menu-item:hover {
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
  padding-bottom: 48px;
  padding-top: 48px;
}
.header-title {
  margin-top: 123px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-title h2 {
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  color: #ffffff;
}
.header-title-color {
  color: #18cfab;
}
.header-title h3 {
  font-weight: 700;
  font-size: 78px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 22px 0;
}
.header-title h4 {
  font-size: 34px;
  color: #d4d4d4;
}
.header-btn {
  display: flex;
  justify-content: center;
  margin-top: 134px;
  gap: 20px;
}
.main-btn {
  width: 168px;
  height: 63px;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-top: 5px solid white;
  cursor: pointer;
  transition: all 0.6s;
  border-radius: 10px;
  background: #18cfab;
}
.main-btn:hover {
  background: #00cbf6;
}
.square-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 8px;
  margin-bottom: 90px;
}
.squere-item {
  height: 377px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dark-square {
  background: #1c2a33;
  color: #18cfab;
}
.light-square {
  background: #18cfab;
  color: #ffffff;
}
.dark-square p {
  margin-top: 48px;
}
.light-square p {
  margin-top: 68px;
}
.our-services {
  margin-bottom: 91px;
}
.section-title {
  position: relative;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-title::after {
  content: "";
  border-bottom: 1px solid #18cfab;
  width: 75px;
  margin-top: 26px;
}
.section-title::before {
  content: "";
  border-top: 1px solid #18cfab;
  width: 75px;
  top: 71px;
  left: 18px;
  position: relative;
}
.service-nav-bar {
  display: flex;
  margin-top: 74px;
  background: #f8fcfe;
  height: 72px;
  margin-bottom: 26px;
}
.service-nav-item {
  width: 193px;
  border: 1px solid #edefef;
  font-size: 16px;
  line-height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.service-nav-item:hover {
  border: 1.5px solid #18cfab;
}
.active-service {
  background: #18cfab;
  color: #ffffff;
}
.active-service::after {
  content: url(../img/icon/active-service.svg);
  position: absolute;
  top: 56px;
}
.tab-content {
  display: flex;
  height: 139px;
}
.tab-content img {
  width: 192px;
  height: 139px;
  object-fit: cover;
  margin-right: 15px;
}
.tab-content p {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}
.buy-install {
  height: 476px;
  background-image: url(../img/Background/Layer\ 21\ 1.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buy-install h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #18cfab;
}
.buy-install p {
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
  margin-top: 13px;
  margin-bottom: 65px;
}
.our-work {
  min-height: 100vh;
  background: #e9edef;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.our-work h2 {
  padding-top: 95px;
  margin-bottom: 73px;
}
.menu-type-desing-list {
  display: flex;
  margin-bottom: 70px;
  height: 74px;
}
.type-design-item {
  font-size: 14px;
  line-height: 42px;
  color: #717171;
  padding: 14px 15px;
  border: 1px solid #dadada;
  cursor: pointer;
}
.type-design-item:hover {
  border: 2px solid #18cfab;
  color: #18cfab;
}
.all-design-item {
  padding: 14px 28px;
}
.our-work-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-height: 633px;
  overflow: hidden;
  margin-bottom: 70px;
}
.our-work-item {
  width: 285px;
  height: 211px;
  overflow: hidden;
  cursor: pointer;
}
.our-work-img {
  width: 285px;
  height: 211px;
  object-fit: cover;
}
.our-work-item:hover .our-work-img {
  display: none;
}
.hover-card {
  width: 285px;
  height: 211px;
  background: #e9edef;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 5px solid #18cfab;
}
.hover-card h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
  color: #18cfab;
  margin-top: 24px;
}
.hover-card p {
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
  color: #8a8a8a;
}
.our-work button {
  margin-bottom: 100px;
  border: none;
}
.our-work button::before {
  content: "+";
  margin-right: 15px;
  font-size: 20px;
}
.breaking-news {
  padding-bottom: 129px;
}
.breaking-news h2 {
  margin-top: 82px;
  margin-bottom: 72px;
}
.blog-post {
  width: 263px;
  position: relative;
  background: #f8fcfe;
}
.blog-post img {
  width: 263px;
  height: 208px;
  object-fit: cover;
}
.title-post {
  font-weight: 700;
  font-size: 18px;
  line-height: 39px;
  color: #717171;
  padding-left: 15px;
  transition: color 0.4s;
}
.blog-post span {
  font-weight: 300;
  font-size: 14px;
  line-height: 39px;
  color: #777777;
  padding-left: 15px;
}
.comment-post::before {
  content: "|";
  color: #777777;
  margin-right: 15px;
}
.calendar-post {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 68px;
  background: #203e38;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}
.calendar-post p {
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
}
.blog-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 35px;
  row-gap: 44px;
}
.blog-post:hover .title-post {
  color: #18cfab;
}
.blog-post:hover .calendar-post {
  background: #18cfab;
  color: white;
}
.people-opinion {
  background-image: url(../img/Background/Layer\ 333.png);
  background-size: cover;
}
.people-opinion-title {
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;
  padding-top: 98px;
  margin-bottom: 140px;
}
.people-opinion-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbbbbb;
  height: 102px;
}
.position-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.people-opinion-text::before {
  content: url(../img/icon/Combined\ shape\ 2474.svg);
  position: absolute;
  top: -60px;
  left: 555px;
}
.commenter-name {
  font-size: 20px;
  line-height: 27px;
  color: #18cfab;
  font-weight: 600;
  margin-top: 20px;
}
.commenter-job-title {
  font-size: 14px;
  line-height: 30px;
  color: #bbbbbb;
  margin-bottom: 38px;
}
.people-reviews {
  margin-bottom: 57px;
  position: absolute;
  left: 0;
  top: 300px;
  transition: all 1s ease 0s;
}
.people-reviews img {
  width: 143px;
  height: 142px;

  object-fit: cover;
  border: 12px solid rgba(31, 218, 181, 0.2);
  border-radius: 50%;
}
.people-reviews-list {
  margin-top: 420px;
  display: flex;
  align-items: center;
  gap: 35px;
  margin-bottom: 98px;
}
.people-reviews-item {
  cursor: pointer;
  transition: transform 0.5s;
}
.translateY {
  transform: translateY(-15px);
}
.people-reviews-item img {
  width: 58px;
  height: 58px;
  object-fit: cover;
  border-radius: 50%;
  border: 6px solid rgba(31, 218, 181, 0.2);
}
.click-back-forward {
  width: 31px;
  height: 31px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #bbbbbb;
  cursor: pointer;
  color: #bbbbbb;
  transition: all 0.5s;
}
.click-back-forward:hover {
  background: #18cfab;
  color: white;
}
.hide {
  display: none;
}
.opacity {
  opacity: 0;
}
.footer {
  background: #22353f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-text {
  padding: 47px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
}
.footer-link {
  color: rgba(24, 207, 171, 1);
}
